<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="OpenInvoicePeruDb" connectionString="data source=.\db\OpenInvoicePeruDb\OpenInvoicePeruDb.sqlite;foreign keys=true" providerName="System.Data.SQLite" />    
    <add name ="ConnNegocio" connectionString="Server=127.0.0.1;Database=database_tassara;Uid=root;Pwd='Sge1234';Port=3306;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="SunatDocumentosBinding">
            <security mode="Transport" />
          </binding>
          <binding name="SunatOtrosBinding">
            <security mode="Transport" />
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="https://e-beta.sunat.gob.pe/ol-ti-itcpfegem-beta/billService?wsdl" binding="basicHttpBinding" bindingConfiguration="SunatDocumentosBinding" contract="Sunat.billService" name="ServicioSunat" />
        <endpoint address="https://www.sunat.gob.pe:443/ol-ti-itemision-otroscpe-gem-beta/billService" binding="basicHttpBinding" bindingConfiguration="SunatOtrosBinding" contract="Sunat.billService" name="ServicioSunatRetenciones" />
      </client>
    </system.serviceModel>
</configuration>